*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background:#0f172a;
    color: #e5e7eb;
}

h1{
    margin-top: 15px;
    margin-bottom: 20px;
}

textarea{
    width: 260px;
    height: 100px;
    padding: 9px;
    font-size: medium;
    background: #050e36;
    color: whitesmoke;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button{
    padding: 7px;
    border-radius: 6px;
    border: none;
}

#addNotes{
    width: 260px;
    background: #38bdf8;
    cursor: pointer;
    height: 40px;
    margin-bottom: 15px;
}

#addNotes:hover{
    background: #0ea5e9;
}

#firstdiv{
    width: 350px;
    background: #020617;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
}

#emptyNotes{
    color: #e5e7eb;
    margin-top: 10px;
}

#notesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes{
    background: #020617;
    margin-top: 10px;
    width: 260px;
    height: 110px;
    border-radius: 7px;
    padding: 7px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.dateTime{
    font-size: 12px;
    color: #94a3b8;
    margin-top: 5px;
}

.deleteBtn{
    background: transparent;
    color: red;
    border: none;
    margin-top: auto;
    align-self: flex-start;
    cursor: pointer;
}

.deleteBtn:hover{
    text-decoration: underline;
}
