*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(130deg,#1c6bac,#b90950);
    padding: 10px;
}
.to-do-list{
    padding: 40px 30px 70px 40px;
    width:100% ;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    border-radius: 18px;
}
.to-do-list h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-do-list h2 img{
    width: 30px;
    margin-left: 10px;
    align-items: center;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    border: none;
    outline: none;
    width: auto;
    flex: 1;
    background: transparent;
    font-weight: 14px;
    padding: 10px;
    font-size: large;
}
.row button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #bd2a19;
    cursor: pointer;
    font-size: large;
    color: white;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: ' ';
    background-image: url('images/unchecked.png');
    background-size: cover;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-position: center;
    top: 8px;
    left: 8px;
}
 .checked{
    color: #555;
    text-decoration:line-through;

}
 .checked::before{
    background: url(images/checked.png);
    background-position: center;
    background-size: cover;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}