body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  background: rgba(0,0,0,0.3);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}
input{
    width: 95%;
}

button {
  background: #ff9800;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #e68900;
}

.result {
  margin-top: 15px;
}

#error {
  color: #ffcccc;
  font-size: 14px;
}
